@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barrio&family=Dancing+Script:wght@400..700&family=Delius&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fleur+De+Leah&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Henny+Penny&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Quicksand:wght@300..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Rouge+Script&family=Story+Script&display=swap');



.head1 {
    font-family: "Barrio", system-ui;
    font-size: 3rem;
}

.btn2 {
    background-color:#FAC632;
}

.btn2:hover {
    background-color: #FAC632;
   

}

body {
    background-image: url('https://img.freepik.com/premium-photo/texture-bright-yellow-paper-background-half-two-colors-with-white-arrow-structure-craft-orange-cardboard_113767-6204.jpg');
    background-size: cover;
       background-position: center;
      transition: opacity 0.5s ease;
}


.head2 {
    font-family: "Barrio", system-ui;
}



 #loader {
      display: none;
      text-align: center;
      margin-top: 20px;
    }

    .spinner {
      width: 50px;
      height: 50px;
      border: 5px solid #f3f3f3;
      border-top: 5px solid #007bff;
      border-radius: 50%;
      animation: spin 1s linear infinite;
      margin: auto;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }



  











    